.navbar
{
	padding-left: 10vw;
}

.istoric
{
	margin-top: 4vh;
}
.background
{

	z-index: -1;
	height: 94.3%;
	width: 100%;
	position: absolute;
}

body
{
	background:url("../img/lmao.png");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}